
html{
    scroll-behavior: smooth;
}

h1{
    color: blueviolet;
}

body{
    font-family: sans-serif;
}

img{
    max-width: 100%;
    height: auto;
}

video{
    max-width: 100%;
    height: auto;
}

iframe{
    width: 80%;
    height: 400px;
}